.text
{
    font-family: 'Roboto Condensed';
}

.pink
{
    color: #EE58B6;
}

.header__list
{
    list-style-type: none;
    font: 500 16px 'Montserrat';
    color: #000;
}

.button
{
    height: 55px;    
    background: #05090C;
    box-sizing: border-box;
    border-radius: 15px;
    color:#fff;
    font: 600 16px 'Montserrat';
}

.button__short
{
    padding: 20px 40px;
    width: 250px;
}

.button__long
{
    padding: 20px 80px;
    width: 340px;
}

.top
{
    font-size: 25px;
    line-height: 1.1;
}

.top__title
{
    font: 600 100px 'Montserrat';
    color: #000;
}

.top__img
{
    height: 640px;
    width: 760px;
}

.features
{
    background: #000;
    color:#fff;
}

.features__description
{
    font: 400 20px 'Roboto Condensed';
    text-align: center;
}

.features__first-block
{
    width: 290px;
    height: 145px;
}

.features__second-block
{
    width: 290px;
    height: 145px;
}

.features__third-block
{
    width: 293px;
    height: 138px;
}

.reasoning
{
    font-size: 18px;
    line-height: 0.6;
}
.reasoning__heading
{
    font: 500 50px 'Montserrat';
}

.reasoning__first-block_text
{
    width: 575px;
    height: 135px;
}

.reasoning__second-block_text
{
    width: 575px;
    height: 131px;
}

.description__heading
{
    font: 500 48px/59px 'Montserrat', sans-serif;
}

.description__block
{
    width: 358px;
    height: 190px;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    font: 400 18px 'Roboto Condensed'
}

.footer
{
    background-color: #000;
    height: 108px;
}
